@keyframes slideAnimation{
    0%{
        width: 0;
    }
    100%{
        width: 25%;
    }
}

@keyframes blurAnimation{
    0%{
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(1.5px);
    }
}

.userWrapper{
    color: var(--font-color);
    display: flex;
    justify-content: flex-end;
    padding: 39px 3.5%;
}

.userContainer{
    display: flex;
    align-items: center;
    z-index: 3;
    position: relative;
}

.userWrapper > * {cursor: pointer;}

.avatarIcon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 23px;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    animation: blurAnimation 0.6s ease-in-out forwards;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    cursor: pointer;
    z-index: 1;
}

.modal{
    right: 0;
    top: 0;
    padding: 113px 3.8%;
    width: 25%;
    height: 100vh;
    background-color: whitesmoke;
    position: absolute;
    z-index: 2;
    background-color: var(--accent-black);
    animation: slideAnimation 0.6s forwards;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.openModal{
    display: block;
}
.closedModal{
    display: none;
}

.ul{list-style: none;}

.ul *{
    color: var(--font-color);
    text-decoration: none;
    cursor: pointer;
}

.ul li{
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: var(--border-radius);
    margin: 9px 0;
    font-size: var(--big-text);
}

.ul li:hover{
    background-color: rgba(var(--main-accent-rgb), 0.2);
}
.ul li:active{
    background-color: rgba(var(--main-accent-rgb), 0.3);
}