.mainContainer{
    display: grid;
    height: 100vh;
    grid-template-areas: "side content";
    grid-template-columns: 19vw auto;
}

.inviteModal{
    left: 50%;
    border-radius: var(--border-radius);
    background-color: var(--accent-black);
    animation: popup 0.9s ease-in-out;
}

.contentContainer{
    background-color: var(--main-black);
}

.contentContainer hr{
    width: 93%;
    margin: 0 auto;
}

.mainContainer > :first-child {
    grid-area: side;
}

.mainContainer > :last-child {
    grid-area: content;
}