.messageWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 9%;
    gap: 15px 0;
}

.myMessagesWrapper{
    align-self: flex-end;
    max-width: 45%;
    text-wrap: wrap;
}

.yourMessagesWrapper{
    align-self: flex-start; 
    max-width: 50%;
}

.myMessages, .yourMessages{
    border-radius: var(--border-radius);
    padding: 11px 22px;
    font-size: var(--big-text);
    word-break: break-word;
    overflow-wrap: break-word;
}

.myMessages {
    background-color: var(--secondary-accent);
}

.yourMessages {
    background-color: var(--font-color);
}

.deleteIcon{
    margin-top: 2px;
    margin-left: 7px;
    cursor: pointer;
    opacity: 30%;
}
.deleteIcon:hover{opacity: 100%;}
.deleteIcon:active{opacity: 60%;}