body {
    background-color: var(--accent-black);
    font-family: var(--main-font);
}

button{
    background-color: var(--button-color);
    border: none;
    border-radius: var(--border-radius);
    color: var(--accent-black);
    font-size: 30px;
    padding: 12px 31px;
}

button:hover{
    background-color: rgba(0, 0, 0, .0);;
    outline: 3px solid var(--font-color);
    color: var(--font-color);
}

button:active{
    outline: 3px solid var(--secondary-accent);
    color: var(--secondary-accent);
}

hr{
    border: 1px solid var(--font-color)
}

h1{
    font-size: var(--h1-size);
    font-weight: 400;
}

.contentWrapperBase{
    border-radius: var(--border-radius);
    background-color: var(--main-black);
}

.logo{
    font-family: var(--title-font);
    color: var(--main-accent);
}