.contentWrapper{
    width: 61.2vw;
    height: 75.9vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeText{
    color: var(--font-color);
    font-family: var(--main-font);
    font-weight: 400;
}

.contentWrapper hr{
    width: 69.5%;
    margin: 40px 0;
}

.btnWrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}