/* Update window */
.updateWindow{
    background-color: whitesmoke;
    position: relative;
    z-index: 1;
}

.openUpdateWindow{
    display: block;
}
.closedUpdateWindow{
    display: none;
}

/* Delete window */
.delWindow{
    background-color: var(--accent-black);
    z-index: 1;
    color: var(--font-color);
    position: absolute;
    top: 0;
    
    width: 513px;
}

.openDelWindow{
    display: block;
}
.closedDelWindow{
    display: none;
}

.overlay{
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 30%;
    position: fixed;
}